rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return request.auth != null
        && request.auth.uid == "2PlANiZII9Vhx2H4bNfGUdUvPmN2";
    }

    match /projects/{projectId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /siteContent/{documentId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }

    match /technologies/{technologyId} {
      allow read: if true;
      allow create, update, delete: if isAdmin();
    }
  }
}